* {
    padding: 0px;
    margin: 0px;
}

.top-side-in {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 20px;
    color: white;
}

.btn {
    border: none;
    background-image: linear-gradient(30deg, blue, pink);
    padding: 8px 30px;
    border-radius: 5px;
    color: white;
}

.top-side-2nd-in {
    display: flex;
    justify-content: space-around;
    background-color: palevioletred;
    position: relative;
}

.top-side-2nd-in ul {
    display: flex;
}

.top-side-2nd-in ul li {
    list-style-type: none;
    padding: 10px 20px;
    box-sizing: border-box;
}

.top-side-2nd-in ul li a {
    text-decoration: none;
}

.top-side-2nd-in ul li:hover a {
    color: white;
}

ul li .nav {
    display: none;

}

ul li:hover .nav {
    display: block;
    position: absolute;
    margin-top: 10px;
    /* box-shadow: 1px 1px 5px black; */
}

ul li .nav li {
    background-color: white;
}

ul li .nav li a {
    display: grid;
    justify-content: center;
}

ul li .nav li:hover a {
    background-color: pink;
    padding: 7px 30px;
}

.After-top {
    background-image: url(img/banner-support-homepage_1471575156961q.jpg);
    height: 400px;
    background-repeat: no-repeat;
}
.TP-Link-Menu{
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
}
.menu{
   display: flex;
   gap: 150px;
}
.TP-Link-Menu ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}